* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.menu-btn:hover {
    cursor: pointer;
    background-color: lightskyblue;
}

header h1 {
    color: #00C2FF;
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.nav-btn {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.nav-btn.active {
    background-color: #00C2FF;
    color: #fff;
    border-radius: 20px;
}

.nav-btn:hover {
    background-color: lightskyblue;
    border-radius: 20px
}

main {
    padding: 1rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.value {
    font-size: 2rem;
    font-weight: bold;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.percentage {
    font-size: 0.875rem;
    color: gray;
}